@import '../index.scss';

.input {
    width: 100%;
    padding: 8px;
    border: 1px solid $borderColor;
    border-radius: 2px;
    color: $globalColor;
    box-sizing: border-box;
    height: 36px;
}