@font-face {
    font-family: Roboto;
    src: url(./media/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./media/fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

//Global variables
$globalColor: #383838;
$borderColor: #b1b1b1;

//Global extends
%mainTitle {
    font-size: 24px;
    font-weight: 700;
    margin: 30px 0;
}

//Default values
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    color: $globalColor;
}

input:focus {
    outline: none;
}

::placeholder {
    color: $borderColor;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $borderColor;
}

::-ms-input-placeholder {  
    color: $borderColor;
}

.admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin__login {
    margin-top: 150px;
    width: 360px;
    font-size: 14px;

    p {
        margin: 5px 0;
    }
}

.admin__login-title {
    @extend %mainTitle;
    margin-bottom: 10px;
}

.admin__login-input-title {
    margin: 20px 0 5px 0;
}